
<nav class="" >
    <ul>
        <li class=""><%= link_to "Home",home_index_path %></li>
       <li> <%= link_to "Multiplo",home_multiplo_path %></li>
       <li> <%= link_to "QueBotonFue",home_queBoton_path %></li>
        <li><%= link_to "Blog?",posts_path%></li>
        <li>Cats</li>
        <li>LinksInfo</li>
        <li>AFuturo</li>
        <li>Contact</li>
    </ul>

</nav>
