
<div data-controller="hide" data-hide-index-value="1" class="carusel">
    <div data-hide-target="slide" class="one"></div>
    <div data-hide-target="slide" class="two"></div>
    <div data-hide-target="slide" class="three"></div>
    <div data-hide-target="slide" class="four"></div>

<div class="botones">
    <button data-action="hide#previous" class="btn-pre"><</button>
    <button data-action="hide#next">></button>
</div>

</div>




