<div data-controller="hello" class=" w-ful h-full" >
<div class="flex justify-center items-center w-full"  style="z-index:9999;">
    <input data-hello-target="name"  type="text">
    <button data-action="click->hello#greet"  class="text-white ml-2 bg-black ">Push Me</button>
    <div data-hello-target="anuncement" class="text-8xl " style=" color:red; position:absolute; top:90px;"></div>

</div>
</div>

