<div data-controller="hello" class="absolute bottom-0 right-0">
<div class="  text-center rounded-lg" >
    <button data-hello-target="uno" data-id="one" data-action="hello#checar" class="m-2">Uno</button>
    <button  data-hello-target="dos" data-id="two" data-action="hello#checar">Dos</button>
    <button data-hello-target="tres" data-id="last" data-action="hello#checar">Tres</button>
</div>    

    <span data-hello-target="botonAlert" ></span>

    <div class="card">
        <p data-hello-target="card"></p>
    </div>
</div>